@charset "UTF-8";

@import url(./reset.css);
@import url(./common.css);

/* PC */
body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #f7f9fd;
}
section {
    margin: 70px 50px 0;
}

/* 제목영역 */
.tit {
    width: 100%;
    margin-bottom: 26px;
}
.tit input {
    width: 100%;
    font-size: 3.2rem;
    font-weight: 500;
    background-color: transparent;
}

.wrap {
    width: 100%;
    border-top: 3px solid #456fc5;
    border-bottom: 2px solid #a9a9a9;
    margin-bottom: 30px;
}

/* 라벨 | 비밀글 */
.item_box {
    line-height: 60px;
    padding: 0 20px;
}
.left_box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 회원가입 화면의 select와 동일 한 디자인으로 적용 */
select {
    width: 150px;
    border: 1px solid #456fc5;
    border-radius: 10px;
    padding: 11px 14px;
    margin-right: 24px;
    appearance: none;
}

/* 툴박스 */
.tool_box {
    height: 40px;
    background-color: #e2e2e2;
}

/* 내용 */
.editor_box {
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

/* 취소 | 저장 버튼 */
.content .btn_box {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
}
.btn_box button {
    width: 130px;
    height: 50px;
    border-radius: 50px;
}
.btn_box .btn_cancel {
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
    margin-right: 60px;
}
.btn_box .btn_save {
    border: 1px solid #456fc5;
    background-color: #456fc5;
    color: #ffffff;
}

/* 팝업을 띄우기 위한 초기셋팅 */
.bg_modal {
    display: none;
}
.modal.cancel {
    display: none;
}

/* MOBILE */
@media (max-width:768px) {
    section {
        margin: 40px 0 90px;
    }

    /* 제목영역 */
    .tit {
        margin-bottom: 12px;
    }
    .tit input {
        font-size: 1.8rem;
        font-weight: 400;
        padding: 0 14px;
        box-sizing: border-box;
    }

    /* 라벨 | 비밀글 */
    .item_box {
        line-height: 50px;
        padding: 0 14px;
    }
    .btn_vote {
        width: 25px;
    }

    /* 회원가입 화면의 select와 동일 한 디자인으로 적용 */
    select {
        width: 110px;
        margin-right: 14px;
    }

    /* 내용 */
    .editor_box {
        height: 400px;
    }

    /* 취소 | 저장 버튼 */
    .content .btn_box {
        margin-bottom: 90px;
    }
    .btn_box button {
        width: 110px;
        height: 40px;
    }
    .btn_box .btn_cancel {
        margin-right: 40px;
    }
}
