@charset "UTF-8";

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
footer > div {
  width: calc(100% - 100px);
  height: 106px;
  margin: 0 auto;
  box-sizing: border-box;
  border-top: 1px solid #a6a6a6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer h1 {
  width: 146px;
  height: 46px;
  background: url('../assets/img/logo_doongji_g.png') no-repeat;
  text-indent: -9999px;
}
footer a {
  display: inline-block;
  width: auto;
  height: auto;
}
footer a::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background: url('../assets/ico/ico_github_g.svg') left center / contain no-repeat;
}

@media screen and (max-width: 480px) {
  footer > div {
    width: calc(100% - 28px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0 16px;
  }
  footer h1 {
    width: 93px;
    height: 30px;
    background: url(../assets/img/logo_doongji_g.png) center / contain no-repeat;
  }
  footer p {
    font-size: 0.75rem;
    margin: 5px 0 37px;
  }
  footer a::before {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
  }
  footer a {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 0.75rem;
    /* margin-top: 30px; */
  }
}
