@charset "UTF-8";
/* header_pc */
.gnb_pc {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #e1e0e1;
  padding: 0 25px;
  box-sizing: border-box;
  background: #fff;
}
.gnb_pc .logo_main {
  width: 120px;
  height: 39px;
  background: url("../assets/img/logo_doongji.png") center / cover no-repeat;
  text-indent: -9999px;
  margin-right: 58.5px;
}
.gnb_pc ul {
  display: flex;
  align-items: center;
}
/* 대카테고리 */
.gnb {
  gap: 30px;
}
.gnb li {
  height: 60px;
  line-height: 60px;
  font-size: 1.0625rem;
  font-weight: 500;
}
.gnb li a {
  padding: 0 10px;
  box-sizing: border-box;
}
.gnb_pc > li:hover > a {
  color: #0442bf;
  border-bottom: 2px solid #0442bf;
  box-sizing: border-box;
}
/* 소카테고리 */
.gnb_pc .lnb {
  width: 100%;
  padding-left: 255px;
  box-shadow: 0 10px 10px rgba(166, 166, 166, 0.3);
  position: absolute;
  top: 61px;
  left: 0;
  box-sizing: border-box;
  background: #fff;
  z-index: 999;
  display: none;
}
.gnb_pc .lnb li a {
  padding: 0 20px;
}
.gnb_pc .lnb li:hover a {
  color: #0442bf;
}
/* 서브메뉴 */
.gnb_pc .snb {
  margin-left: auto;
  color: #a6a6a6;
  font-size: 0.8125rem;
  display: none;
}
.snb.on {
  display: inline-flex;
}
.snb li {
  height: 60px;
  line-height: 60px;
}
.gnb_pc .snb li:first-child a::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 12px;
  background: #a6a6a6;
  margin: 0 6px;
}
.gnb_pc .snb li a::before {
  content: "";
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 6px;
}
.gnb_pc .status_logout li:first-child a::before {
  width: 13px;
  height: 16px;
  background: url("../assets/ico/ico_user_lg.svg") center / cover no-repeat;
}
.gnb_pc .status_logout li:last-child a::before {
  width: 17px;
  height: 17px;
  background: url("../assets/ico/ico_signin_lg.svg") center / cover no-repeat;
}
.gnb_pc .status_login .alarm {
  width: 15px;
  padding: 0 10px;
  background: url("../assets/ico/ico_alarm.svg") center / 20px no-repeat;
  text-indent: -9999px;
  position: relative;
}
.gnb_pc .status_login .alarm.on::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 16px;
  right: 8px;
  background: #e74659;
  border-radius: 50%;
}
.gnb_pc .status_login li:last-child {
  width: 34px;
  height: 34px;
  background: url(../assets/img/img_profile_default.png) center / cover
    no-repeat;
  text-indent: -9999px;
  border-radius: 50%;
}
.gnb_pc .snb li:hover a {
  color: #0442bf;
}
.gnb_pc .status_logout li:first-child:hover a::before {
  background: url("../assets/ico/ico_user_b.svg") center / cover no-repeat;
}
.gnb_pc .status_logout li:last-child:hover a::before {
  background: url("../assets/ico/ico_signin_b.svg") center / cover no-repeat;
}
